
body{
  font-family: 'Slabo 27px', serif;
}

.active{
  fill:yellow;
}
.background {
  fill: none;
  pointer-events: all;
}
.arrow{
  display:inline-block;
  width:15px;
}

.right{
  float:right;
}

.left{
  float:left;
}


#wrapper{
  margin:20px 50px;
  width:1000px;
  margin:0 auto;
}

svg{
  margin-top:0px;
  padding-top:0px;
  margin-left:50px;
}

#legend svg{
  float:right;
  clear:both;
}

header {
  margin-left:50px;
  padding:0 auto;
  font-size:30px;
  font-style:bold;
  clear:both;
  height:30px;
}

aside{
  float:right;
  width:300px;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

#tooltip {
    border: 1px solid #FFE9E9;
    /*width: 200px;*/
    background-color:#FFE9E9;
}

#tooltip label {
    font-style: bold;
    font-size: 15px;
    display: block;
    float: left;
    font-weight: bold;
}

.counties {
  fill: none;
  stroke: #aaa;
  stroke-width: 0.2px;
  stroke-linejoin: round;
}

.states {
  fill: none;
  stroke: #777;
  stroke-width: 1.5px;
  stroke-linejoin: round;
}

.control{
  display:inline-block;
  vertical-align: middle;
}

#control-line{
  font-size:20px;
  margin-top:40px;
  margin-left:50px;
}

#control-line::after{
  content:"";
  clear:both;
}

#range{
  margin-top:0px;
  font-style:bolder;
  font-weight:900;
  font-size:20px;
  padding-top:0;
}

#button, #opts{
  background-color:#FFF;
  border: 1px dotted #ccc; 
  padding:0 auto;
}

/*scatter*/

text {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label, #clock{
  font: 500 60px 'Slabo 27px';
  fill: #ddd;
  padding:20px;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

