body{
  font-family: 'Slabo 27px', serif;
}

header {
  display:inline;
  text-align: center;
  font-size:30px;
  font-style:bold;
}

aside{
  float:right;
  width:300px;
}

footer{
  font-size:12px;
  margin:20px 0;
}

a{
  text-decoration:none;
  color:#888;
}

#wrapper{
  width:1000px;
  margin:0 auto;
}

.arrow{
  display:inline-block;
  width:15px;
}

.right{
  float:right;
}

.left{
  float:left;
}

/*control line*/
.control{
  display:inline-block;
  vertical-align: middle;
}

#control-line{
  font-size:20px;
  margin-top:40px;
  margin-left:50px;
}


#button, #opts{
  background-color:#FFF;
  border: 1px dotted #ccc; 
  padding:0 auto;
}

#clock{
  font-size: 60px;
  color: #ddd;
  padding:20px;
}
.clearfix:after{
  display:block;
  content:"";
  clear:both;
}


/*animate*/
.counties {
  fill: none;
  stroke: #aaa;
  stroke-width: 0.2px;
  stroke-linejoin: round;
}

.states {
  fill: none;
  stroke: #777;
  stroke-width: 1.5px;
  stroke-linejoin: round;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

#tooltip {
    border: none;
    background-color:#FFF;
    opacity:0.8;
}

#tooltip label {
    display: block;
    float: left;
    font-style: bold;
    font-size: 16px;
    font-weight: bold;  
}

#legend svg{
  float:right;
  clear:both;
}



/*zoomin*/
.background {
  fill: none;
  pointer-events: all;
}



/*scatter*/
text {
  font-size: 10px;
}

.dot {
  stroke: #000;
}

.axis path, .axis line,{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.year.label{
  font-size:60px;
  fill: #ddd;
  padding:20px;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

#legend-text{
  font-size:15px;
  padding:0;
}

/*scatter two*/
.x.label, .y.label{
  font-size:14px;
}

#content1, #content2{
  float:left;
}

#content1 p, #content2 p{
  text-align:center;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#map{
  float:left;
}

.current path{
  fill:yellow;
}



